Source: ros-hydro-yocs-virtual-sensor
Section: misc
Priority: extra
Maintainer: Jorge Santos <jorge@yujinrobot.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-geometry-msgs, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-tf, ros-hydro-yocs-math-toolkit, ros-hydro-yocs-msgs
Homepage: http://ros.org/wiki/yocs_virtual_sensor
Standards-Version: 3.9.2

Package: ros-hydro-yocs-virtual-sensor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-geometry-msgs, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-rospy-message-converter, ros-hydro-sensor-msgs, ros-hydro-tf, ros-hydro-visualization-msgs, ros-hydro-yocs-math-toolkit, ros-hydro-yocs-msgs
Description: Virtual sensor that uses semantic map information to &quot;see&quot; obstacles undetectable by robot sensors. Current implementation cannot read obstacles from YAML files. Until this feature gets implemented, we use auxiliary scripts to read and publish files' content. Data directory contains some example files.
